<html>
  <head>
  </head>
    <body>
      {% if gss %}
      <form name='secret' action='/secret' method='POST'>
        <input type='button' value='logout' onClick="location.href='/logout'"><br><br>
        <input type='button' value='modify' onClick="location.href='/checkpassword'"><br><Br>
        <input type='button' value='home' onClick="location.href='/'"><br><br>
      <input type='button' value='withdraw' onClick="location.href='/withdraw'"><br><br>
      Your id is {{ gss }}<br>
      email : {{ email }}<br>
      mobile : {{ mobile }}<br>
      nickname : {{ nickname }}<br>
      {% endif %}
      </form>
    </body>
</html>
